[Unit]
Description=Description=this is the service systemd file of WebParaRagulator program
After=network.target

[Service]
User=<Username>
WorkingDirectory=<Path of data_api.py>
ExecStart=<Path of python3>/python3 <Path of data_api.py>/data_api.py
Restart=always

[Install]
WantedBy=multi-user.target